<h1>Merge Forum Topic</h1>

<p>Merge <strong><%= link_to(@forum_topic.title, forum_topic_path(@forum_topic)) %></strong> into:</p>

<%= custom_form_for(@forum_topic, url: merge_forum_topic_path(@forum_topic), method: :post, class: "simple_form") do |f| %>
  <%= f.input(:target_topic_id, label: "Target Topic") %>
  <%= f.submit("Merge", name: nil) %>
<% end %>

<%= render(partial: "forum_topics/secondary_links") %>

<% content_for(:page_title) do %>
  Merge Forum Topic
<% end %>
