<h1>DText Links</h1>

<%= render "search" %>

<%= table_for(@dtext_links, class: "striped autofit") do |t| %>
  <% t.column("Page") do |dtext_link| %>
    <% if dtext_link.model_type == "WikiPage" %>
      <span class="<%= tag_class(dtext_link.model.tag) %>">
        <%= link_to(dtext_link.model.title, dtext_link.model) %>
        <%= link_to("»", dtext_links_path(search: { model_type: "WikiPage", wiki_page_title: dtext_link.model.title })) %>
      </span>
    <% else %>
      <%= link_to("#{dtext_link.model.model_name.singular.tr('_', ' ')} ##{dtext_link.model_id}", dtext_link.model) %>
    <% end %>
  <% end %>
  <% t.column("Link", td: { class: "col-expand" }) do |dtext_link| %>
    <% if dtext_link.external_link? %>
      <%= external_link_to(dtext_link.link_target) %>
    <% elsif dtext_link.wiki_link? %>
      <%= link_to_wiki_or_new(dtext_link.link_target, class: tag_class(dtext_link.linked_wiki&.tag)) %>
    <% end %>

    <%= link_to("»", dtext_links_path(search: { link_target: dtext_link.link_target })) %>
  <% end %>
  <% t.column("Type") do |dtext_link| %>
    <%= dtext_link.link_type.delete_suffix("_link").capitalize %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  DText Links
<% end %>

<%= numbered_paginator(@dtext_links) %>
