<h4>Deleted Posts</h4>

<%= table_for(@posts) do |t| %>
  <% t.column("Post", width: "1%") do |post| %>
    <%= PostPresenter.preview(post, show_deleted: true) %>
  <% end %>
  <% t.column("Tags", width: "45%") do |post| %>
    <%= post.presenter.inline_tag_list_html %>
  <% end %>
  <% t.column("Poster", width: "10%") do |post| %>
    <%= link_to_user(post.uploader )%>
    <p><%= compact_time(post.created_at) %></p>
  <% end %>
  <% t.column("Deleter", width: "10%") do |post| %>
    <%= link_to_user(post.flags.where(is_deletion: true).last.creator) %>
    <p><%= compact_time(post.deletion_flag&.created_at) %></p>
  <% end %>
  <% t.column("Reason") do |post| %>
    <div class="dtext-container"><%= format_text(post.deletion_flag&.reason) %></div>
  <% end %>
<% end %>

<%= numbered_paginator(@posts) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Deleted Posts
<% end %>
