<div id="p-confirm-mfa">
  <div class="mfa-info">
    <h1 class="mfa-title">Verify Login</h1>
    <p class="full">Enter the 6-digit code from your authenticator app to continue.</p>
    <%= custom_form_for(@user.mfa, url: verify_mfa_session_path) do |f| %>
      <%= f.input(:user_id, as: :hidden, input_html: { value: @user.signed_id(purpose: :verify_mfa, expires_in: 10.minutes) }) %>
      <%= f.input(:url, as: :hidden, input_html: { value: @url }) %>
      <%= f.input(:type, as: :hidden, input_html: { value: @type.presence || "login" }) %>
      <%= f.input(:remember, as: :hidden, input_html: { value: @remember }) %>
      <%= f.input(:code, placeholder: "123456", required: true, minlength: 6, hint: "Lost your phone? You can enter a backup code instead.", input_html: { value: nil }) %>
      <%= f.submit("Continue") %>
    <% end %>
  </div>
</div>
