<h1>Missed Searches: <%= date_range_description(@date, @scale, @min_date, @max_date) %></h1>

<%= table_for(@ranking, class: "striped autofit") do |t| %>
  <% t.column("Count") do |rank| %>
    <%= rank["count"] %>
  <% end %>
  <% t.column("Tag") do |rank| %>
    <%= rank["tag"] %>
  <% end %>
<% end %>

<%= render partial: "popular/secondary_links" %>

<% content_for(:page_title) do %>
  Missed Searches for <%= date_range_description(@date, @scale, @min_date, @max_date) %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most searched tags">
<% end %>
