<h1>Disapprovals</h1>

<%= render(partial: "search") %>

<%= table_for(@post_disapprovals, class: "striped autofit") do |t| %>
  <% t.column("Post") do |post_disapproval| %>
    <%= link_to("post ##{post_disapproval.post_id}", post_path(post_disapproval.post_id)) %>
    <%= link_to("»", post_disapprovals_path(search: params[:search].merge(post_id: post_disapproval.post_id))) %>
  <% end %>
  <% t.column("Message", th: { class: "col-expand" }) do |post_disapproval| %>
    <%= format_text(post_disapproval.message) %>
  <% end %>
  <% t.column("Reason") do |post_disapproval| %>
    <%= link_to(post_disapproval.reason.humanize, post_disapprovals_path(search: params[:search].merge(reason: post_disapproval.reason))) %>
  <% end %>
  <% t.column("Creator") do |post_disapproval| %>
    <%= link_to_user(post_disapproval.user) %>
    <%= link_to("»", post_disapprovals_path(search: params[:search].merge(creator_name: post_disapproval.user&.name))) %>
    <p><%= compact_time(post_disapproval.updated_at) %></p>
  <% end %>
<% end %>

<%= numbered_paginator(@post_disapprovals) %>

<% content_for(:page_title) do %>
  Post Disapprovals
<% end %>
