<%= table_for(@dashboard.comments) do |t| %>
  <% t.caption { "Comment Activity" } %>
  <% t.column("Comment") do |activity| %>
    <%= link_to(activity.comment.body, post_path(activity.comment.post_id, anchor: "comment-#{activity.comment.id}")) %>
    <% if activity.comment.is_hidden? %>
      <span class="inactive"<% if activity.comment.hidden_at.present? %> title="<%= time_ago_in_words(activity.comment.hidden_at) %> ago"<% end %>>(hidden)</span>
    <% end %>
  <% end %>
  <% t.column("User") do |activity| %>
    <%= link_to_user(activity.comment.creator) %>
  <% end %>
  <% t.column("Votes") do |activity| %>
    <%= activity.count %>
  <% end %>
  <% t.column("Score") do |activity| %>
    <%= activity.comment.score %>
  <% end %>
<% end %>
