<%= table_for(@dashboard.mod_actions) do |t| %>
  <%= t.caption { "Mod Actions" } %>
  <% t.column("Moderator") do |mod_action| %>
    <%= link_to_user(mod_action.creator) %>
  <% end %>
  <% t.column("Description") do |mod_action| %>
    <%= format_text(mod_action.format_text) %>
  <% end %>
<% end %>

<p><%= link_to("View all actions", mod_actions_path) %></p>
