<%= render "search" %>
<h1>Email Blacklists</h1>

<%= table_for(@blacklists) do |t| %>
  <% t.column("Creator") do |blacklist| %>
    <%= link_to_user(blacklist.creator) %>
    <p><%= compact_time(blacklist.created_at) %></p>
  <% end %>
  <% t.column("Domain") do |blacklist| %>
    <%= blacklist.domain %>
    <%= link_to "»", users_path(search: { email_matches: "*@*#{blacklist.domain}" }) %>
  <% end %>
  <% t.column(:reason, name: "Ban Reason") %>
  <% t.column do |blacklist| %>
    <%= link_to "Delete", email_blacklist_path(blacklist), method: :delete, data: { confirm: "Are you sure? This cannot be undone." } %>
  <% end %>
<% end %>

<%= numbered_paginator(@blacklists) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Email Blacklists
<% end %>
