<%= render "search" %>
<h1>Upload Whitelists</h1>

<%= table_for(@whitelists) do |t| %>
  <% t.column(:pattern) %>
  <% t.column(:note) %>
  <% t.column("Hidden") do |whitelist| %>
    <%= whitelist.hidden? ? "Yes" : "No" %>
  <% end %>
  <% t.column("Allowed") do |whitelist| %>
    <%= whitelist.allowed? ? "Yes" : "No" %>
  <% end %>
  <% t.column(:reason, name: "Ban Reason") %>
  <% t.column("Created") do |whitelist| %>
    <%= compact_time(whitelist.created_at) %>
  <% end %>
  <% t.column("Updated") do |whitelist| %>
    <%= compact_time(whitelist.updated_at) %>
  <% end %>
  <% if policy(UploadWhitelist).all?(:update?, :destroy?) %>
    <% t.column do |whitelist| %>
      <%= link_to("Edit", edit_upload_whitelist_path(whitelist)) %> |
      <%= link_to("Delete", upload_whitelist_path(whitelist), method: :delete, data: { confirm: "Do your really want to delete #{whitelist.pattern}?" }) %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@whitelists) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Upload Whitelists
<% end %>
