<h1>User Sessions</h1>

<%= render(partial: "search") %>
<%= table_for(@user_sessions, class: "striped autofit") do |t| %>
  <% t.column("Session") do |user_session| %>
    <%= link_to(user_session.session_id, user_sessions_path(search: { session_id: user_session.session_id })) %>
    <%= link_to("»", user_events_path(search: { session_id: user_session.session_id })) %>
  <% end %>
  <% t.column("IP Address") do |user_session| %>
    <%= link_to(user_session.ip_addr, user_sessions_path(search: { ip_addr: user_session.ip_addr })) %>
    <%= link_to("»", user_events_path(search: { ip_addr: user_session.ip_addr })) %>
  <% end %>
  <% t.column(:user_agent, name: "Browser") %>
  <% t.column("Created") do |user_session| %>
    <%= time_ago_in_words_tagged(user_session.created_at) %>
  <% end %>
<% end %>

<%= numbered_paginator(@user_sessions) %>
