<h1>Related tags</h1>
<section>
  <%= form_search(path: related_tags_path, always_display: true) do |f| %>
    <%= f.input(:query, autocomplete: "tag") %>
    <%= f.input(:category_id, collection: TagCategory.for_select, include_blank: true) %>
  <% end %>
</section>
<% if @related_tags.query.present? %>
  <section>
    <%= table_for(@related_tags.tags_for_html) do |t| %>
      <% t.column(:name) do |(tag, category)| %>
        <span class="category-<%= category %>">
          <%= link_to_wiki_or_new("?", tag) %>
          <%= link_to(tag, posts_path(tags: tag)) %>
        </span>
      <% end %>
    <% end %>
  </section>
 <% end %>

<%= render "tags/secondary_links" %>

<% content_for(:page_title) do %>
  Related tags
<% end %>
