<%# locals: (post_appeal:) -%>

<div class="appeal-dialog-body">
  <div class="dtext-container">
    <%= format_text(safe_wiki(FemboyFans.config.appeal_notice_wiki_page).body) %>
  </div>

  <%= error_messages_for :post_appeal %>

  <%= custom_form_for(post_appeal) do |f| %>
    <%= f.hidden_field(:post_id) %>
    <%= f.input(:reason, as: :dtext, placeholder: "Optional") %>
    <%= f.submit("Submit") %>
  <% end %>
</div>
