<h1>Appeals</h1>
<%= render "search" %>
<%= render "posts/partials/common/inline_blacklist" %>

<%= table_for(@post_appeals) do |t| %>
  <% t.column("Post", width: "1%") do |post_appeal| %>
    <%= PostPresenter.preview(post_appeal.post, show_deleted: true) %>
  <% end %>
  <% t.column("Reason") do |post_appeal| %>
    <div class="dtext-container"><%= format_text(post_appeal.reason) %></div>
  <% end %>
  <% t.column("Appeals", width: "1%") do |post_appeal| %>
    <%= link_to(post_appeal.post.appeals.count, post_appeals_path(search: { post_id: post_appeal.post_id })) %>
  <% end %>
  <% t.column("Status", width: "5%") do |post_appeal| %>
    <%= link_to(post_appeal.status.humanize, post_appeals_path(search: @search_params.merge(status: post_appeal.status))) %>
  <% end %>
  <% t.column("Uploader", width: "15%") do |post_appeal| %>
    <%= link_to_user(post_appeal.post.uploader) %>
    <%= link_to("»", post_appeals_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} user:!#{post_appeal.post.uploader_id}".strip))) %>
    <p><%= compact_time(post_appeal.post.created_at) %></p>
  <% end %>
  <% t.column("Appealed", width: "15%") do |post_appeal| %>
    <%= link_to_user(post_appeal.creator) %>
    <%= link_to("»", post_appeals_path(search: @search_params.merge(creator_id: post_appeal.creator_id))) %>
    <p><%= compact_time post_appeal.created_at %></p>
  <% end %>
  <% t.column("Approver", width: "15%") do |post_appeal| %>
    <% if post_appeal.post.approver %>
      <%= link_to_user(post_appeal.post.approver) %>
      <%= link_to("»", post_appeals_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:!#{post_appeal.post.approver_id}".strip))) %>
    <% else %>
      <em>none</em>
      <%= link_to("»", post_appeals_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:none".strip))) %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@post_appeals) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Appeals
<% end %>
