<div id="p-page-listing">
  <%= form_tag(diff_wiki_page_versions_path, method: :get) do %>
    <%= table_for(@wiki_page_versions) do |t| %>
      <% t.column(width: "3%") do |wiki_page_version, i| %>
        <% if i < @wiki_page_versions.length - 1 %>
          <%= link_to("diff", diff_wiki_page_versions_path(otherpage: wiki_page_version.id, thispage: @wiki_page_versions[i + 1].id)) %>
        <% else %>
          diff
        <% end %>
      <% end %>
      <% t.column(width: "2%") do |wiki_page_version, i| %>
        <%= radio_button_tag("thispage", wiki_page_version.id, (i == 1)) %>
      <% end %>
      <% t.column(width: "2%") do |wiki_page_version, i| %>
        <%= radio_button_tag("otherpage", wiki_page_version.id, (i == 0)) %>
      <% end %>
      <% t.column("Title") do |wiki_page_version| %>
        <span class="category-<%= wiki_page_version.category_id %>">
          <%= link_to(wiki_page_version.title, wiki_page_version_path(wiki_page_version)) %>
        </span>
      <% end %>
      <% t.column("View") do |wiki_page_version| %>
        <%= link_to("view version", wiki_page_version_path(wiki_page_version)) %>
      <% end %>
      <% if policy(WikiPageVersion).can_see_ip_addr? %>
        <% t.column("IP Address") do |wiki_page_version| %>
          <%= link_to_ip(wiki_page_version.updater_ip_addr) %>
        <% end %>
      <% end %>
      <% t.column("Last edited") do |wiki_page_version| %>
        <%= compact_time(wiki_page_version.updated_at) %>
        <% if wiki_page_version.updater %>
          by
          <%= link_to_user(wiki_page_version.updater) %>
        <% end %>
      <% end %>
      <% t.column("Reason") do |wiki_page_version| %>
        <%= wiki_page_version.reason %>
      <% end %>
    <% end %>

    <%= submit_tag "Diff" %>
  <% end %>
</div>
