<h1>Wiki Page: <%= link_to(@thispage.title, wiki_page_path(@thispage.wiki_page)) %></h1>

<% if @thispage.merged_from_id.present? %>
  <div class="wiki-page-merge-from-history">
    Merged from <%= link_to(@thispage.merged_from_title, mod_actions_path(search: { subject_id: @thispage.merged_from_id, subject_type: "WikiPage" })) %>
  </div>
<% else %>
  <p>Showing differences between <%= compact_time @thispage.updated_at %> (<%= link_to_user @thispage.updater %>) and <%= compact_time @otherpage.updated_at %> (<%= link_to_user @otherpage.updater %>)</p>

  <% if @thispage.parent != @otherpage.parent %>
    <div class="wiki-page-redirect-history">
      Page redirect changed
      from <%= @thispage.parent.blank? ? "none" : link_to(@thispage.parent, show_or_new_wiki_pages_path(title: @thispage.parent)) %>
      to <%= @otherpage.parent.blank? ? "none" : link_to(@otherpage.parent, show_or_new_wiki_pages_path(title: @otherpage.parent)) %>.
    </div>
  <% end %>
  <% if @thispage.protection_level != @otherpage.protection_level %>
    <% thisname = @thispage.protection_level.blank? ? nil : User::Levels.id_to_name(@thispage.protection_level) %>
    <% othername = @otherpage.protection_level.blank? ? nil : User::Levels.id_to_name(@otherpage.protection_level) %>
    <div class="wiki-page-protection-history">
      Protection level changed
      from <%= thisname.blank? ? "none" : link_to(thisname.titlecase, help_page_path(id: "accounts", anchor: thisname.downcase), class: "#{User::Levels.level_class(thisname)} with-style") %>
      to <%= othername.blank? ? "none" : link_to(othername.titlecase, help_page_path(id: "accounts", anchor: othername.downcase), class: "#{User::Levels.level_class(othername)} with-style") %>.
    </div>
  <% end %>

  <div>
    <%= text_diff(@thispage.body, @otherpage.body) %>
  </div>
<% end %>

<%= render "wiki_pages/secondary_links" %>

<% content_for(:page_title) do %>
  Wiki Page Versions Comparison - <%= @thispage.pretty_title %>
<% end %>
