<h1>Forum Categories</h1>

<%= table_for(@forum_categories) do |t| %>
  <% t.column(:name) do |cat| %>
    <%= link_to(cat.name, forum_category_path(cat)) %>
  <% end %>
  <% t.column("Level Requirements") do |cat| %>
    <% vname = User::Levels.id_to_name(cat.can_view) %>
    <% cname = User::Levels.id_to_name(cat.can_create) %>
    <ul>
      <li>View: <b class="with-style user-<%= vname.downcase %>"><%= vname %></b></li>
      <li>Create: <b class="with-style user-<%= cname.downcase %>"><%= cname %></b></li>
    </ul>
  <% end %>
  <% t.column(if: policy(ForumCategory).all?(:update?, :destroy?)) do |cat| %>
    <%= link_to("Edit", edit_forum_category_path(cat)) %> |
    <%= link_to("Delete", forum_category_path(cat), method: :delete, data: { confirm: "Are you sure you want to delete this forum category? It must be empty of posts." }) %>
  <% end %>
<% end %>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Post Report Reasons
<% end %>
