<div class="mfa-info">
  <h1 class="mfa-title">Backup Codes</h1>
  <p class="full">Backup codes let you login in case you lose your phone or two-factor authentication app. </p>
  <p class="full">Save these codes. If you lose your phone and don't have your backup codes, then you will be locked out of your account permanently. </p>
  <div class="divider">
    <hr>
  </div>
  <p>
    <% @user.backup_codes.each do |code| %>
      <code class="mfa-backup-code">
        <%= code %>
      </code>
    <% end %>
  </p>
  <div class="mfa-backup-buttons">
    <%= link_to("Download", user_mfa_backup_codes_path(format: :txt), download: "zoobooru-backup-codes.txt") %>
    | <%= link_to("Print", "javascript:void(0)", class: "print-backup-codes-link") %>
    | <%= link_to("Copy", "javascript:void(0)", class: "copy-backup-codes-link") %>
    | <%= link_to("Regenerate", user_mfa_backup_codes_path, method: :post) %>
  </div>
</div>

<%= javascript_tag(nonce: true) do %>
  $(function() {
    Danbooru.MFA.init_backup_codes("<%= j(@user.backup_codes.join("\n")) %>");
  })
<% end %>

<%= render(partial: "users/mfa/secondary_links") %>

<%= content_for(:page_title) do %>
  MFA - Backup Codes
<% end %>
