<% if post.is_pending? %>
  <div class="notice notice-pending" id="pending-approval-notice">
    <div class="notice-pending-status">
      This post is pending approval. (<%= link_to("learn more", help_page_path("modqueue")) %>)
    </div>

    <% if CurrentUser.user.can_approve_posts? %>
      <div class="notice-pending-toolbar">
        <%= render "posts/disapprovals/counts", disapprovals: post.disapprovals, post: post %>

        <%= render "posts/partials/show/quick_mod", post: post %>
        <%= render "posts/disapprovals/detailed_rejection_dialog" %>
      </div>
    <% end %>
  </div>
<% elsif post.is_appealed? %>
  <div class="notice notice-appealed">
    <p>This post is being appealed (<%= link_to("learn more", help_page_path("modqueue")) %>): </p>
    <% appeal = post.appeals.pending.last %>
    <%= render "posts/partials/show/appeal_reason", post: post, appeal: appeal %>

    <% if CurrentUser.user.can_approve_posts? %>
      <div>
        <%= link_to("Approve", undelete_post_path(post), method: :put, class: "button btn-neutral") %> |
        <%= link_to("Reject", post_appeal_path(appeal), method: :delete, class: "button btn-neutral") %>
      </div>
    <% end %>
  </div>
<% elsif post.is_deleted? %>
  <div class="notice notice-deleted">
    <% if post.flags.unresolved.deletion.any? %>
      <p>This post was deleted for following reason: </p>
      <%= render "posts/partials/show/flag_reasons", post: post %>
    <% else %>
      <p>This post was deleted</p>
    <% end %>

    <%= render "posts/disapprovals/counts", disapprovals: post.disapprovals, post: post %>
  </div>
<% elsif post.is_flagged? %>
  <div class="notice notice-flagged">
    <p>This post was flagged for review (<%= link_to "learn more", help_page_path(id: "flagging") %>): </p>

    <%= render "posts/partials/show/flag_reasons", post: post %>

    <% if CurrentUser.user.can_approve_posts? %>
      <div>
        <%= link_to "Delete", delete_post_path(post), class: "button btn-neutral" %>
        | <%= tag.a("Unflag", "href": "#", "data-pid": post.id, 'data-type': "none", "class": "unflag-post-link button btn-neutral") %>
        <% if post.is_approvable? %>
          | <%= tag.a("Unflag+approve", "href": "#", "data-pid": post.id, 'data-type': "approve", "class": "unflag-post-link button btn-neutral") %>
        <% end %>
        <% unless post.pending_flag&.reason =~ /uploading_guidelines/ %>
          | <%= tag.a("Delete with given reason", "href": "#", 'data-post-id': post.id, "class": "delete-with-reason-link button btn-neutral", 'data-reason': "", 'data-prompt': "given reason") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if post.replacements.pending.any? %>
  <div class="notice notice-flagged">
    <p>This post has <%= link_to "pending replacements.", post_replacements_path(search: { post_id: @post.id }) %></p>
  </div>
<% end %>
