<h1>Merge Wiki Page</h1>

<p>Merge <strong><%= link_to(@wiki_page.title, wiki_page_path(@wiki_page)) %></strong> into:</p>

<%= custom_form_for(@wiki_page, url: merge_wiki_page_path(@wiki_page), method: :post, class: "simple_form") do |f| %>
  <%= f.input(:target_wiki_page_id, label: "Target ID") %>
  <%= f.input(:target_wiki_page_title, label: "Target Title") %>
  <%= f.submit("Merge", name: nil) %>
<% end %>

<%= render(partial: "wiki_pages/secondary_links") %>

<% content_for(:page_title) do %>
  Merge Wiki Pages
<% end %>
