<%= render "secondary_links" %>

<%= render "search" %>

<%= table_for(@notifications, class: "striped autofit") do |t| %>
  <% t.column do |notification| %>
    <% unless notification.is_read? %>
      <span class="new">NEW</span>
    <% end %>
  <% end %>
  <% t.column("Created At") do |notification| %>
    <%= compact_time(notification.created_at) %>
  <% end %>
  <% t.column("Notification") do |notification| %>
    <%= format_text(notification.message, max_thumbs: 0) %>
  <% end %>
  <% t.column do |notification| %>
    <%= link_to("View", notification_path(notification)) %> |
    <%= link_to("Delete", notification_path(notification), method: :delete) %>
  <% end %>
<% end %>

<%= numbered_paginator(@notifications) %>

<% content_for(:page_title) do %>
  Notifications
<% end %>
