<h1>Users</h1>

<%= render "search" %>

<%= table_for(@users) do |t| %>
  <% t.column do |user| %>
    <%= link_to_if(policy([:admin, User]).update?, "Edit", edit_admin_user_path(user)) { "" } %>
  <% end %>
  <% t.column("Name") do |user| %>
    <%= link_to_user(user) %>
  <% end %>
  <% t.column("Posts") do |user| %>
    <%= link_to(user.post_upload_count, posts_path(tags: "user:#{user.name}")) %>
  <% end %>
  <% t.column(:post_deleted_count, name: "Deleted") %>
  <% if policy(User).can_see_email? %>
    <% t.column("Email") do |user| %>
      <%= user.email %>
      <%= email_domain_search(user.email) %>
    <% end %>
  <% end %>
  <% if policy(User).can_see_ip_addr? %>
    <% t.column("Last IP") do |user| %>
      <%= link_to_ip(user.last_ip_addr) %>
    <% end %>
  <% end %>
  <% t.column("Notes") do |user| %>
    <%= link_to(user.note_version_count, note_versions_path(search: { updater_id: user.id })) %>
  <% end %>
  <% t.column("Edits") do |user| %>
    <%= link_to(user.post_update_count, post_versions_path(search: { updater_id: user.id })) %>
  <% end %>
  <% t.column("Level") do |user| %>
    <%= "(Unactivated)" unless user.is_verified? %> <%= user.level_string_pretty %>
  <% end %>
  <% t.column("Joined") do |user| %>
    <%= compact_time(user.created_at) %>
  <% end %>
<% end %>

<%= numbered_paginator(@users) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Users
<% end %>
