<h1>IP Bans</h1>

<%= form_search(path: ip_bans_path) do |f| %>
  <%= f.input(:ip_addr, label: "IP Address") %>
  <%= f.user(:banner) %>
  <%= f.input(:reason) %>
<% end %>

<%= table_for(@ip_bans) do |t| %>
  <% t.column("IP Address") do |ip_ban| %>
    <%= link_to_ip(ip_ban.subnetted_ip) %>
  <% end %>
  <% t.column("Banner") do |ip_ban| %>
    <%= link_to_user(ip_ban.creator) %>
  <% end %>
  <% t.column("Reason") do |ip_ban| %>
    <%= ip_ban.reason %>
  <% end %>
  <% t.column("Created") do |ip_ban| %>
    <%= compact_time(ip_ban.created_at) %>
  <% end %>
  <% t.column do |ip_ban| %>
    <%= link_to("Unban", ip_ban_path(ip_ban), method: :delete, data: { confirm: "Do your really want to unban #{ip_ban.ip_addr}?" }) %>
  <% end %>
<% end %>

<%= numbered_paginator(@ip_bans) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  IP Bans
<% end %>
