<h1>Show Ban</h1>
<ul style="margin-bottom: 1em;">
  <li><strong>User</strong>: <%= link_to_user(@ban.user) %></li>
  <li><strong>Expires</strong>: <%= @ban.humanized_expiration %></li>
  <li><strong>Reason</strong>: <%= format_text(@ban.reason) %>
  </li>
</ul>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Ban - <%= @ban.user.name %>
<% end %>
