<h1>Mascots</h1>

<%= table_for(@mascots) do |t| %>
  <% t.column("Name") do |mascot| %>
    <%= link_to mascot.display_name, mascot.url_path %>
  <% end %>
  <% t.column(:background_color) %>
  <% t.column(:artist_name) %>
  <% t.column(:artist_url, name: "Artist URL") %>
  <% t.column(:active)%>
  <% t.column(:hide_anonymous, name: "Hide From Anonymous") %>
  <% t.column(:available_on_string, name: "Available On") %>
  <% t.column("Created") do |mascot| %>
    <%= compact_time(mascot.created_at) %>
  <% end %>
  <% t.column(if: policy(Mascot).all?(:update?, :destroy?)) do |mascot| %>
    <%= link_to("Edit", edit_mascot_path(mascot)) %>
    | <%= link_to("Delete", mascot_path(mascot), method: :delete, data: { confirm: "Are you sure you want to delete this mascot?" }) %>
  <% end %>
<% end %>

<%= numbered_paginator(@mascots) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Mascots
<% end %>
