<%= render "sidebar" %>

<section id="content">
  <h1>Wiki</h1>

  <%= render "search" %>
  <%= table_for(@wiki_pages) do |t| %>
    <% t.column("Title") do |wiki_page| %>
      <span class="category-<%= wiki_page.category_id %>">
        <%= link_to(wiki_page.pretty_title, wiki_page_path(wiki_page)) %>
      </span>
    <% end %>
    <% t.column("Last edited") do |wiki_page| %>
      <%= compact_time(wiki_page.updated_at) %> by <%= link_to_user(wiki_page.updater) %>
    <% end %>
    <% t.column("History") do |wiki_page| %>
      <%= link_to("History", wiki_page_versions_path(search: { wiki_page_id: wiki_page.id })) %>
    <% end %>
  <% end %>

  <%= numbered_paginator(@wiki_pages) %>
</section>

<% content_for(:page_title) do %>
  Wiki
<% end %>

<%= render "secondary_links" %>
