<%= render partial: "search" %>

<h2>Tickets</h2>

<%= table_for(@tickets) do |t| %>
  <% t.column("ID", width: "5%") do |ticket| %>
    <%= link_to(ticket.id, ticket_path(ticket)) %>
  <% end %>
  <% if CurrentUser.user.is_moderator? %>
    <% t.column("Reporter", width: "10%") do |ticket| %>
      <%= link_to_user(ticket.creator) %>
    <% end %>
    <% t.column("Accused", width: "10%") do |ticket| %>
      <% if ticket.accused.present? %>
        <%= link_to_user(ticket.accused) %>
      <% end %>
    <% end %>
    <% t.column("Claimed By", width: "10%") do |ticket| %>
      <% if ticket.claimant.blank? %>
        <span class="text-error">Unclaimed</span>
      <% else %>
        <%= link_to_user(ticket.claimant) %>
      <% end %>
    <% end %>
  <% end %>
  <% t.column("Type", width: "15%") do |ticket| %>
    <% if ticket.model.present? %>
      <%= link_to(ticket.type_title, polymorphic_path(ticket.model)) %>
    <% else %>
      <%= ticket.type_title %>
    <% end %>
  <% end %>
  <% t.column("Subject", width: "25%") do |ticket| %>
    <%= link_to(truncate(strip_tags(format_text(ticket.subject)), length: 200), ticket_path(ticket.id)) %>
  <% end %>
  <% t.column("Status", width: "8%") do |ticket| %>
    <%= ticket.pretty_status %>
  <% end %>
  <% t.column("Updated", width: "10%") do |ticket| %>
    <%= time_ago_in_words_tagged(ticket.updated_at) %>
  <% end %>
  <% t.column("Created", width: "18%") do |ticket| %>
    <%= time_ago_in_words_tagged(ticket.created_at) %>
  <% end %>
<% end %>

<%= numbered_paginator(@tickets) %>

<% render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Tickets
<% end %>
