<h1>Artist History</h1>

<%= table_for(@artist_versions, class: "striped autofit") do |t| %>
  <% t.column("Name") do |version| %>
    <%= link_to(version.name, artist_path(version.artist_id)) %>
    <%= link_to("»", artist_versions_path(search: { artist_id: version.artist_id })) %>
  <% end %>
  <% t.column("Other Names") do |version| %>
    <%= artist_version_other_names_diff(version) %>
  <% end %>
  <% t.column("URLs", td: { class: "col-expand" }) do |version| %>
    <%= artist_version_urls_diff(version) %>
  <% end %>
  <% t.column("Notes") do |version| %>
    <% if version.notes_changed %>
      <%= link_to("Note Changes", wiki_page_versions_path(search: version.artist.present? ? { wiki_page_id: version.artist.wiki_page } : { title: version.name })) %>
    <% else %>
      (No Changes)
    <% end %>
  <% end %>
  <% t.column("Updated") do |version| %>
    <%= link_to_user(version.updater) %>
    <%= link_to("»", artist_versions_path(search: { updater_name: version.updater_name })) %>
    <p>
      <%= compact_time(version.updated_at) %>
      <% if policy(version).can_see_ip_addr? %>
        (<%= link_to_ip(version.updater_ip_addr) %>)
      <% end %>
    </p>
  <% end %>
<% end %>

<%= render "search" %>
<%= numbered_paginator(@artist_versions) %>

<% content_for(:page_title) do %>
  Artist Versions
<% end %>
