<h1>Pool History</h1>

<%= table_for(@pool_versions, class: "striped autofit") do |t| %>
  <% t.column("Pool") do |pool_version| %>
    <%= link_to(pool_version.pretty_name, pool_path(pool_version.pool_id)) %>
  <% end %>
  <% t.column("Post Count") do |pool_version| %>
    <%= link_to(pool_version.post_ids.size, pool_versions_path(search: { pool_id: pool_version.pool_id })) %>
  <% end %>
  <% t.column("Changes", th: { class: "col-expand" }) do |pool_version| %>
    <%= pool_version_posts_diff(pool_version) %>
  <% end %>
  <% t.column("Description Changed") do |pool_version| %>
    <%= link_to_if(pool_version.description_changed, pool_version.description_changed, diff_pool_version_path(pool_version.id)) %>
  <% end %>
  <% t.column("Updater") do |pool_version| %>
    <%= link_to_user(pool_version.updater) if pool_version.updater %>
    <% if policy(pool_version).can_see_ip_addr? %>
      (<%= link_to_ip(pool_version.updater_ip_addr) %>)
    <% end %>
    <p><%= compact_time(pool_version.updated_at) %></p>
  <% end %>
  <% t.column(if: params.dig(:search, :pool_id).present?) do |pool_version| %>
    <%= link_to("Revert to", revert_pool_path(pool_version.pool_id, version_id: pool_version.id, format: :json), "class": "revert-item-link", "data-noun": "pool") %>
  <% end %>
<% end %>

<%= numbered_paginator(@pool_versions) %>

<%= render "pools/secondary_links" %>
<%= latest_link(@pool_versions) %>

<% content_for(:page_title) do %>
  Pool Versions
<% end %>
