<h1>Tag Followers</h1>

<%= table_for(@users) do |t| %>
  <% t.column("User") do |user| %>
    <%= link_to_user(user) %>
  <% end %>
  <% t.column("Other Followed Tags") do |user| %>
    <%= link_to(user.followed_tag_count, followed_tags_path(user_id: user.id)) %>
  <% end %>
<% end %>

<%= numbered_paginator(@users) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Followers - <%= @tag.name %>
<% end %>
