<%= render "secondary_links" %>

<% is_self = @user == CurrentUser.user %>
<h1>Followed Tags<%= ": #{link_to_user(@user)}".html_safe unless is_self %></h1>

<%= table_for(@tags) do |t| %>
  <% t.column("Tag") do |tag| %>
    <%= link_to(tag.tag_name, posts_path(tags: tag.tag_name)) %>
  <% end %>
  <% if is_self %>
    <% t.column("Followed At", width: "10%") do |tag| %>
      <%= compact_time(tag.created_at) %>
    <% end %>
    <% t.column("Updated At", width: "10%") do |tag| %>
      <%= compact_time(tag.updated_at) %>
    <% end %>
    <% t.column(width: "10%") do |tag| %>
      <%= link_to("Unfollow", unfollow_tag_path(tag.tag), method: :put) %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@tags) %>

<% content_for(:page_title) do %>
  Followed Tags
<% end %>
