<h1>MetaSearch Tags</h1>

<section>
  <%= form_tag(meta_search_tags_path, method: :get) do %>
    <%= text_field_tag("name", params[:name], data: { autocomplete: "tag" }) %>
    <%= submit_tag("Go") %>
  <% end %>
</section>

<section>
  <h2>Tags</h2>

  <% if @meta_search.tags.blank? %>
    <p>No results</p>
  <% else %>
    <%= table_for(@meta_search.tags) do |t| %>
      <% t.column(:name) %>
      <% t.column(:post_count, name: "Count") %>
      <% t.column do |tag| %>
        <% if tag.category_editable_by?(CurrentUser.user) %>
          <%= link_to("edit", edit_tag_path(tag)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>


<section>
  <h2>Tag Aliases</h2>
  <% if @meta_search.tag_aliases.blank? %>
    <p>No results</p>
  <% else %>
    <%= render "tag_relationships/listing", tag_relations: @meta_search.tag_aliases %>
  <% end %>
</section>

<section>
  <h2>Tag Implications</h2>
  <% if @meta_search.tag_implications.blank? %>
    <p>No results</p>
  <% else %>
    <%= render "tag_relationships/listing", tag_relations: @meta_search.tag_implications %>
  <% end %>
</section>

<%= render "tags/secondary_links" %>

<% content_for(:page_title) do %>
  MetaSearch - Tags
<% end %>
