<%= render partial: "search" %>
<div>

  <%= table_for(@tag_versions) do |t| %>
    <% t.column("Tag") do |change| %>
      <%= link_to change.tag.name, edit_tag_path(change.tag) %>
    <% end %>
    <% t.column("User") do |change| %>
      <%= link_to_user(change.updater) %>
      <p><%= time_ago_in_words_tagged(change.created_at, compact: true) %></p>
    <% end %>
    <% t.column("Category") do |change| %>
      <% if change.category_changed? %>
        <a class="<%= "tag-type-#{change.previous.category}" %>"><%= Tag.category_for_value(change.previous.category) %></a> ->
      <% end %>
      <a class="<%= "tag-type-#{change.category}" %>"><%= Tag.category_for_value(change.category) %></a>
    <% end %>
    <% t.column("Locked") do |change| %>
      <% if change.is_locked_changed? %>
        <b><%= change.is_locked %></b>
      <% else %>
        <%= change.is_locked %>
      <% end %>
    <% end %>
    <% t.column("Reason") do |change| %>
      <%= change.reason %>
    <% end %>
  <% end %>
</div>

<%= numbered_paginator(@tag_versions) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Type Versions
<% end %>
