<h1>User Events</h1>

<%= render(partial: "search") %>
<%= table_for(@user_events, class: "striped autofit") do |t| %>
  <% t.column("User") do |user_event| %>
    <%= link_to_user(user_event.user) %>
    <%= link_to("»", user_events_path(search: { user_id: user_event.user_id })) %>
    <p><%= time_ago_in_words_tagged(user_event.created_at) %></p>
  <% end %>
  <% t.column(:message) do |user_event| %>
    <%= render(partial: "message", locals: { event: user_event }) %>
  <% end %>
  <% t.column(:category) do |user_event| %>
    <%= link_to(user_event.category.titleize, user_events_path(search: { category: UserEvent.categories[user_event.category] })) %>
  <% end %>
  <% t.column("Session", if: CurrentUser.user.is_admin?) do |user_event| %>
    <%= link_to(user_event.session_id, user_events_path(search: { session_id: user_event.session_id })) %>
  <% end %>
  <% t.column("IP Address") do |user_event| %>
    <%= link_to(user_event.ip_addr, user_events_path(search: { ip_addr: user_event.ip_addr })) %>
  <% end %>
<% end %>

<%= numbered_paginator(@user_events) %>
