<h1>Flags</h1>
<%= render "search" %>
<%= render "posts/partials/common/inline_blacklist" %>

<%= table_for(@post_flags) do |t| %>
  <% t.column("Post", width: "1%") do |post_flag| %>
    <%= PostPresenter.preview(post_flag.post, show_deleted: true) %>
  <% end %>
  <% t.column("Reason") do |post_flag| %>
    <div class="dtext-container"><%= format_text(post_flag.reason) %></div>
  <% end %>
  <% t.column("Flags", width: "1%") do |post_flag| %>
    <%= link_to(post_flag.post.flags.size, post_flags_path(search: { post_id: post_flag.post_id })) %>
  <% end %>
  <% t.column("Type", width: "5%") do |post_flag| %>
    <%= post_flag.type.to_s.humanize %>
    <%= link_to("»", post_flags_path(search: @search_params.merge(type: post_flag.type))) %>
  <% end %>
  <% t.column("Resolved?", width: "1%") do |post_flag| %>
    <%= post_flag.is_resolved.to_s %>
    <%= link_to("»", post_flags_path(search: @search_params.merge(is_resolved: post_flag.is_resolved?))) %>
  <% end %>
  <% t.column("Uploader", width: "15%") do |post_flag| %>
    <%= link_to_user(post_flag.post.uploader) %>
    <%= link_to("»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} user:!#{post_flag.post.uploader_id}".strip))) %>
    <p><%= compact_time(post_flag.post.created_at) %></p>
  <% end %>
  <% t.column("Flagged", width: "15%") do |post_flag| %>
    <% if CurrentUser.can_view_flagger_on_post?(post_flag) %>
      <%= link_to_user(post_flag.creator) %>
      <%= link_to("»", post_flags_path(search: @search_params.merge(creator_id: post_flag.creator_id))) %>
    <% end %>
    <p><%= compact_time post_flag.created_at %></p>
  <% end %>
  <% t.column("Approver", width: "15%") do |post_flag| %>
    <% if post_flag.post.approver %>
      <%= link_to_user(post_flag.post.approver) %>
      <%= link_to("»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:!#{post_flag.post.approver_id}".strip))) %>
    <% else %>
      <em>none</em>
      <%= link_to("»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:none".strip))) %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@post_flags) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Flags
<% end %>
