<h1>Avoid Postings</h1>

<%= render "search" %>
<%= table_for(@avoid_postings, class: "striped dnp-list") do |t| %>
  <% t.column("Artist", th: { class: "dnp-artist" }, td: { class: "dnp-artist" }) do |avoid_posting| %>
    <span class="dnp-artist-names">
      <%= link_to avoid_posting.artist_name, artist_path(avoid_posting.artist) %>
      <% if avoid_posting.other_names.present? %>
        <span>(<%= link_to_artists(avoid_posting.other_names, hide_new_notice: true) %>)</span>
      <% end %>
    </span>
  <% end %>
  <% t.column("Details", th: { class: "dnp-details" }, td: { class: "dnp-details" }) do |avoid_posting| %>
    <span class="avoid-posting-details"><%= format_text(avoid_posting.details, inline: true) %></span>
    <% if CurrentUser.is_staff? && avoid_posting.staff_notes.present? %>
      <span class="avoid-posting-staff-notes">
            <b>Staff Notes</b>
            <span><%= format_text(avoid_posting.staff_notes, inline: true) %></span>
          </span>
    <% end %>
  <% end %>
  <% t.column(:status, th: { class: "dnp-status" }, td: { class: "dnp-status" }, if: search_params.key?(:is_active)) %>
  <% t.column("Creator", th: { class: "dnp-creator" }, td: { class: "dnp-creator" }, if: search_params.key?(:creator_id) || search_params.key?(:creator_name)) do |avoid_posting| %>
    <%= link_to_user(avoid_posting.creator) %>
    <% if policy(avoid_posting).can_see_ip_addr? %>
      (<%= link_to_ip(avoid_posting.creator_ip_addr) %>)
    <% end %>
    <p><%= compact_time(avoid_posting.created_at) %></p>
  <% end %>
  <% t.column(th: { class: "dnp-links" }, td: { class: "dnp-links" }) do |avoid_posting| %>
    <%= link_to "Show", avoid_posting_path(avoid_posting) %>
    <% if CurrentUser.can_edit_avoid_posting_entries? %>
      | <%= link_to "Edit", edit_avoid_posting_path(avoid_posting) %>
      <% if avoid_posting.is_active? %>
        | <%= link_to "Delete", delete_avoid_posting_path(avoid_posting), method: :put, data: { confirm: "Are you sure you want to delete this avoid posting entry?" } %>
      <% else %>
        | <%= link_to "Undelete", undelete_avoid_posting_path(avoid_posting), method: :put, data: { confirm: "Are you sure you want to undelete this avoid posting entry?" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@avoid_postings) %>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Avoid Postings
<% end %>
