<h1>Recent Edits</h1>

<%= render "search" %>

<%= table_for(@edit_histories) do |t| %>
  <% t.column("Editor") do |edit| %>
    <%= link_to_user edit.user %>
    <% if policy(edit).can_see_ip_addr? %>
      (<%= link_to_ip edit.ip_addr %>)
    <% end %>
    <p><%= compact_time(edit.updated_at) %></p>
  <% end %>
  <% t.column(:versionable_type, name: "Type") %>
  <% t.column(:pretty_edit_type, name: "Edit Type") %>
  <% t.column("Body", th: { width: "40%" }) do |edit| %>
    <%= edit.body[0..50] %>
    <% if edit.previous.present? && edit.previous.body == edit.body %>
      <span class="small-notice">(no change)</span>
    <% end %>
  <% end %>
  <% t.column("Subject", th: { width: "20%" }) do |edit| %>
    <%= (edit.subject || "")[0..30] %>
    <% if !edit.subject.nil? && edit.previous.present? && edit.previous.subject == edit.subject %>
      <span class="small-notice">(no change)</span>
    <% end %>
  <% end %>
  <% t.column do |edit| %>
    <%= link_to("Show", action: "show", id: edit.versionable_id, type: edit.versionable_type, page: edit.page, anchor: "edit-#{edit.id}") %>
  <% end %>
<% end %>

<%= numbered_paginator(@edit_histories) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Histories
<% end %>
