<% if @edit_histories.empty? %>
  <h1>Edits for <%= h params[:type] %> #<%= h params[:id] %></h1>
<% else %>
  <%= @original.html_title(self) %>
<% end %>

<div class="response-list" id="edit-history">
  <%= form_tag(diff_edit_histories_path, method: :get) do %>
    <%= table_for(@edit_histories) do |t| %>
      <% t.column(th: { width: "3%" })  do |edit, i| %>
        <% if edit.is_contentful? && (previous = edit.previous_contentful_edit(@content_edits)) %>
          <%= link_to("diff", diff_edit_histories_path(thisversion: edit.id, otherversion: previous.id)) %>
        <% else %>
          diff
        <% end %>
      <% end %>
      <% t.column(th: { width: "2%" }) do |edit, i| %>
        <%= radio_button_tag "otherversion", edit.id, (i == 0), disabled: !edit.is_contentful?, title: "Other Version" %>
      <% end %>
      <% t.column(th: { width: "2%" }) do |edit, i| %>
        <%= radio_button_tag "thisversion", edit.id, (i == 1), disabled: !edit.is_contentful?, title: "This Version" %>
      <% end %>
      <% t.column("Editor") do |edit| %>
        <%= link_to_user edit.user %>
        <% if policy(edit).can_see_ip_addr? %>
          (<%= link_to_ip edit.ip_addr %>)
        <% end %>
        <p><%= link_to time_ago_in_words_tagged(edit.created_at, compact: true), url_for(anchor: "edit-#{edit.id}") %></p>
      <% end %>
      <% t.column("Body", th: { width: "50%" }) do |edit| %>
        <% previous = edit.previous_contentful_edit(@edit_histories) %>
        <div class="edit-item edit-<%= edit.edit_type.tr("_", "-") %>" id="edit-<%= edit.id %>">
          <% if edit.is_contentful? && previous.present? && previous.body == edit.body %>
            <span class="small-notice">(no change)</span>
          <% else %>
            <div class="content">
              <div class="body">
                <%= edit.text_content %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%# hide subject column if no history entries have a value %>
      <% t.column("Subject", th: { width: "20%" }, unless: @edit_histories.all? { |edit| edit.subject.nil? }) do |edit| %>
        <% previous = edit.previous_contentful_edit(@edit_histories) %>
        <%= edit.subject %>
        <% if !edit.subject.nil? && previous.present? && previous.subject == edit.subject %>
          <span class="small-notice">(no change)</span>
        <% end %>
      <% end %>
    <% end %>

    <%= submit_tag "Diff", name: nil, disabled: @edit_histories.length == 1 %>
  <% end %>

  <%= render "secondary_links" %>
</div>

<%= numbered_paginator(@edit_histories) %>

<% content_for(:page_title) do %>
  Edit History for <%= @original.html_name %>
<% end %>
