<div class="mfa-info">
  <h1 class="mfa-title">Two-Factor Authentication</h1>
  <% if @user.mfa.present? %>
    <p class="full">Two-factor authentication (2FA) is <b>enabled</b> for your account. To add a new device, scan the QR code below.</p>
    <p class="full">To disable 2FA, click <b>Disable</b> below. To view your backup codes, go <%= link_to("here", user_mfa_backup_codes_path) %>.</p>
  <% else %>
    <p class="full">Enable two-factor authentication (2FA) to make it so you need both a password and a security code to login to your account. This protects you in case your password is stolen.</p>
    <p class="full">To get started, install an authenticator app to your device. We recommend one linked to your phone number, such as <%= link_to("Authy", "https://authy.com/download") %>, then use it to scan the qr code below.</p>
  <% end %>
  <div id="mfa-qr-code">
    <%= @mfa.qr_code_svg.html_safe %>
  </div>
  <div>
    <a class="show-code-link" href="javascript:void(0)">Can't scan the qr code?</a>
    <div class="mfa-code" style="display: none;">
      <p>If you can't scan the QR code, then you can enter this code into your app instead:</p>
      <span class="mfa-secret"><%= @mfa.secret %></span>
    </div>
  </div>
  <div class="divider">
    <hr>
  </div>
  <% if @user.mfa.present? %>
    <%= custom_form_for(@mfa, url: user_mfa_path, method: :delete) do |f| %>
      <%= f.submit("Disable") %>
    <% end %>
  <% else %>
    <%= custom_form_for(@mfa, url: user_mfa_path, method: :patch) do |f| %>
      <%= f.input(:signed_secret, as: :hidden) %>
      <%= f.input(:verification_code, placeholder: "123456", hint: "Enter the 6-digit code from your app", required: true, minlength: 6, maxlength: 6, pattern: '\d+', input_html: { value: nil }) %>
      <%= f.submit("Enable") %>
    <% end %>
  <% end %>
</div>

<%= render(partial: "users/mfa/secondary_links") %>

<%= content_for(:page_title) do %>
  MFA
<% end %>
