<h1>Audit Logs</h1>

<%= render "search" %>

<%= table_for(@audit_logs) do |t| %>
  <% t.column("User", width: "20%") do |log| %>
    <%= link_to_user(log.user) %>
    <%= compact_time(log.created_at) %>
  <% end %>
  <% t.column("Message", width: "80%") do |log| %>
    <div class="dtext-container">
      <%= format_text(log.format_text) %>
    </div>
  <% end %>
<% end %>

<%= numbered_paginator(@audit_logs) %>

<%= render partial: "moderator/dashboards/secondary_links" %>

<% content_for(:page_title) do %>
  Audit Logs
<% end %>
