<h1>User Text History</h1>

<%= render "search" %>
<% if @text_versions.empty? %>
  <p>Nothing to see here.</p>
<% else %>
  <%= form_tag(diff_moderator_user_text_versions_path, method: :get) do %>
    <% if params[:action] == "for_user" %>
      <% versions = @text_versions.reject { |ver| ver.empty_for?(CurrentUser.user) && !ver.is_original? } %>
    <% else %>
      <% versions = @text_versions.reject { |ver| ver.empty_for?(CurrentUser.user) } %>
    <% end %>
    <%= table_for(versions) do |t| %>
      <% t.column(th: { width: "3%" }) do |text_version, i| %>
        <% if i < versions.length - 1 %>
          <%= link_to "diff", diff_moderator_user_text_versions_path(thisversion: text_version.id, otherversion: versions[i + 1].id) %>
        <% else %>
          diff
        <% end %>
      <% end %>
      <% t.column(th: { width: "2%" }) do |text_version, i| %>
        <%= radio_button_tag "otherversion", text_version.id, (i == 1), title: "Other Version" %>
      <% end %>
      <% t.column(th: { width: "2%" }) do |text_version, i| %>
        <%= radio_button_tag "thisversion", text_version.id, (i == 0), title: "This Version" %>
      <% end %>
      <% t.column do |text_version| %>
        <%= link_to("Show", action: :show, id: text_version.id) %>
      <% end %>
      <% t.column("User") do |text_version| %>
        <%= link_to_user(text_version.user) %>
      <% end %>
      <% t.column("Editor") do |text_version| %>
        <%= link_to_user(text_version.updater) %>
        <% if policy(text_version).can_see_ip_addr? %>
          (<%= link_to_ip(text_version.updater_ip_addr) %>)
        <% end %>
        <p><%= compact_time(text_version.created_at) %></p>
      <% end %>
      <% t.column("Changes") do |text_version| %>
        <%= text_version.changes_for_pretty(CurrentUser.user) %>
      <% end %>
    <% end %>

    <%= submit_tag("Diff", name: nil, disabled: versions.length == 1) %>
  <% end %>
  <%= numbered_paginator(@text_versions) %>
<% end %>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  User Text Versions
<% end %>
