<%= table_for(bulk_update_requests) do |t| %>
  <% t.column("Creator") do |request| %>
    <%= link_to_user(request.creator) %>
    <% if policy(request).can_see_ip_addr? %>
      (<%= link_to_ip(request.creator_ip_addr) %>)
    <% end %>
    <p><%= compact_time(request.created_at) %></p>
  <% end %>
  <% t.column("Approver") do |request| %>
    <% if request.approver.present? %>
      <%= link_to_user(request.approver) %>
      <p><%= compact_time(request.updated_at) %></p>
    <% end %>
  <% end %>
  <% t.column("Forum") do |request| %>
    <% if request.forum_post_id.present? && request.forum_post.present? %>
      <%= link_to(request.forum_topic_id, forum_topic_path(request.forum_topic_id, page: request.forum_post.forum_topic_page, anchor: "forum_post_#{request.forum_post.id}")) %>
    <% elsif request.forum_topic_id.present? && request.forum_topic.present? %>
      <%= link_to(request.forum_topic_id, forum_topic_path(request.forum_topic_id)) %>
    <% end %>
  <% end %>
  <% t.column("Script") do |request| %>
    <%= format_text(script_with_line_breaks(request, with_decorations: true), allow_color: true) %>
  <% end %>
  <% t.column(:status) %>
  <% t.column do |request| %>
    <%= link_to "Show", bulk_update_request_path(request) %>
    <% if request.policy(CurrentUser.user).approve? %>
      | <%= link_to("Approve", approve_bulk_update_request_path(request), "method": :post, "data-confirm": "Are you sure you want to approve this bulk update request?") %>
    <% end %>
    <% if request.policy(CurrentUser.user).reject? %>
      | <%= link_to("Reject", request, "method": :delete, "data-confirm": "Are you sure you want to reject this bulk update request?") %>
    <% end %>
    <% if request.policy(CurrentUser.user).update? %>
      | <%= link_to("Edit", edit_bulk_update_request_path(request), "data-shortcut": "e") %>
    <% end %>
  <% end %>
<% end %>
